// COLORS
$primary: #FFFFFF;
$text: #2C2D30;
$blue: #457FCA;
$green: #2AB27B;

html {
    height: 100%;
    font-size: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    min-height: 100%;
    min-width: 768px;
    margin: 0px;

    font-family: Lato;
    font-weight: 400;
    color: $text;

    background-color: darken($primary, 10);
}


.hide {
    display: none !important;
}


.app {
    display: flex;
    flex: auto;
    flex-direction: column;
    padding: 2rem;
    width: 1000px;
}

.header {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1rem;
}

.filters {
    display: flex;
    flex: auto;
}

.filter {
    padding: 0.5rem 1rem;
    margin: 0 1rem;
    cursor: pointer;
    border-radius: 5px;

    &:first-child {
        margin-left: 0 !important;
    }

    &.active {
        background-color: $blue;
        color: $primary;
    }
}

#active-games-count {
    position: relative;
    top: -0.5rem;
    left: 0.5rem;
    padding: 0.25rem 0.5rem;
    border-radius: 50%;
    color: $primary;
    background-color: $green;
    font-size: 0.8rem;
}

#games {
    flex: auto;
    height: 0px;
    overflow-y: auto;
}

.game {
    display: flex;
    margin: 0 0.5rem 1rem 0;
    padding: 0.5rem;

    &.active {
        background-color: $primary;

        .title {
            opacity: 1;
        }
    }

    &.inactive {
        background-color: darken($primary, 3);

        .title {
            opacity: 0.5;
        }
    }

    .title {
        flex: auto;
        margin-left: 1rem;
        font-weight: 700;
    }
}
